.Page{
    color: #dd163b;
    font-size: 30px;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 800;
}
.Error{
    color: #dd163b;
    font-size: 150px;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 800;
}